.header-container{
    height: 100vh;
    width: 100vw;
    padding: 0 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    font-size: 2rem;
    background-color: aquamarine;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    margin-top: 2rem;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 35px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 16px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 36px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgb(82, 1, 1);
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul{
    list-style: none;
}

.menu-items ul li a {
    margin: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4rem;
}

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 25px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 26px;
}

#toggle:checked + .checkbox{
    background-color: #fff;
    border-radius: 100%;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
}

#toggle:checked ~.menu-items{
    visibility: visible;
    opacity: 1;
}
